@import "../../../Styles/theme";
.loadergif {
  position: relative;
  text-align: center;
  @at-root #{&}__wrapper {
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -0%);
    text-align: center;
    margin-top: 31px;
    z-index: 111239;
  }
  .lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $primary-black;
    border-color: $primary-black transparent $primary-black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
